.movieHomeContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardsContainer{
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    border: 1px solid black;
}

.cardId{
    font-size: 25px;
    font-weight: bold;
}

.cardName{
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 10px 0;
}

.cardDetails{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}